.form-group label {
  width: 208px; }

.form-group .form-control {
  float: right;
  width: 320px; }

.reSend-btn {
  width: 270px;
  margin-top: 30px; }
  .reSend-btn a {
    background-color: #7a51b7;
    letter-spacing: 3px; }

.countdown-wrap {
  margin-top: 50px; }
  .countdown-wrap .countdown {
    font-size: 50px;
    color: #d61247;
    text-align: center;
    font-weight: 700;
    margin: 10px 0; }
  .countdown-wrap .txt {
    text-align: center; }
