// normalize
@import 'base/normalize';

// helpers
@import 'helpers/variables';
@import 'helpers/mixins';
@import 'helpers/fonts';
@import 'helpers/custom';

// partial
// @import "partial/header";
// #734bb1

// ® 的樣式設定
.monospace {
  font-family: monospace;
}

.justify {
	text-align: justify;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	background: $bg-color url('../images/bg.jpg') 50% 0 no-repeat fixed;
	background-size: cover;
	font-family: CenturyGothic, Microsoft JhengHei;
}

.container {
	position: relative;
	max-width: 640px;
	margin: 0 auto;
	padding-bottom: 26px;
}

.header {
	text-align: center;
	padding: 13px 0;
	height: 130px;
	color: #FFF;
	.logo {
		display: inline-block;
		width: auto;
		margin-right: 22px;
	}
	h1 {
		display: inline-block;
		font-size: 30px;
		margin: 0;
		vertical-align: top;
		line-height: 102px;
	}
}

.main {
	width: 600px;
	min-height: 832px;
	background: #FFF;
	margin: 0 auto;
	padding: 0 35px 30px;
	> .title {
		padding: 24px 0;
		margin: 0 -35px;
    text-align: center;
	}
}

.txt {
	font-size: 22px;
	color: $txt-color;
	line-height: 1.3;
	letter-spacing: 1px;
	a {
		display: inline;
		color: $a-color;
		text-decoration: underline;
	}
}

// .notes {
// 	text-align: center;
// 	margin-top: 15px;
// }

.form-group {
	@include clearfix();
	margin-top: 15px;
  label {
		float: left;
		width: 170px;
		height: 58px;
		line-height: 58px;
		padding-right: 15px;
		text-align: right;
		color: #542800;
		font-size: 24px;
  }
  input, select {
		width: 100%;
		height: 58px;
		font-size: 26px;
		padding: 0 20px;
		background: #ececec;
		border: none;
		border-radius: 10px;
	}
	.form-control {
		float: left;
		width: 350px;
	}
}

.btn {
	width: 232px;
	margin: 20px auto 0;
	a {
		font-size: 30px;
		font-weight: 700;
		color: #FFF;
		background-image: url("../images/btn-arrow.png");
		background-position: 92% center;
		background-repeat: no-repeat;
		background-color: $btn-red;
		border-radius: 35px;
		padding: 12px 0;
		text-align: center;
	}
}

.btn-row {
	@include clearfix;
	.btn {
		float: left;
		& ~ .btn {
			float: right;
		}
	}
}


@media only screen and (max-width: 640px) {
	.btn {
		a {
			padding: 18px 0 12px;
		}
	}
}
