@import 'helpers/mixins';

.sub-title {
	color: #d61247;
	font-size: 30px;
	font-weight: 700;
}

.txt {
	margin-top: 16px;
	li {
		& ~ li {
			margin-top: 10px;
		}
	}
}

.btn {
	width: 258px;
	a {
		border-radius: 46px;
	}
}
