.main {
	padding-bottom: 0;
	.txt {
		text-align: center;
		font-size: 33px;
	}
}

.official-btn {
	width: 270px;
	margin-top: 42px;
}

.product {
	margin-top: 20px;
	text-align: center;
	font-size: 0;
}
