.header {
	@include clearfix;
	position: fixed;
  top: 0;
  width: 100%;
	max-width: 640px;
  height: 72px;
	z-index: 1000;
	padding: 0 20px;
	background: #000;
	transition: .3s;
	.logo {
		float: left;
	}
	.logout-btn {
		position: relative;
		float: right;
		width: 86px;
		height: 100%;
		span {
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto 0;
			width: 100%;
			height: 40px;
			line-height: 40px;
			border-radius: 30px;
			font-size: 24px;
			text-align: center;
			color: #000;
			background: rgba(255, 255, 255, .6);
		}
	}
	.username {
		float: right;
		font-size: 24px;
		height: 100%;
		margin-right: 10px;
		line-height: 74px;
		a {
			padding: 0 10px;
			color: #FFF;
		}
	}
}

body {
	&.search-active {
		&:after {
			position: fixed;
			content: '';
			top: 72px;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.53);
			z-index: 300;
		}
		.search-box {
			height: 80px;
			.search-input {
				top: 0;
			}
		}
	}
}

.main-area {
	height: 88px;
	
	.nav {
		float: left;
		margin-left: 23px;
		li {
			float: left;
			a {
				height: 57px;
				line-height: 57px;
				padding: 0 23px;
				letter-spacing: 1px;
				font-size: 18px;
				color: #000;
				font-weight: 700;
				transition: .3s;
				&:hover {
					color: #c60026;
				}
			}
		}
		@include clearfix;
	}
	@include clearfix;
}
